/**,*:before,*:after {*/
  /*-webkit-tap-highlight-color: rgba(0, 0, 0, 0);*/
/*}*/

@keyframes cirle-anim {
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

@keyframes bottomUp {
  0% {
    transform: translateX(376px);
  }
  100%{
    transform: translateX(0px);
  }
}

.icon{
  height: 40px;
  width: 40px;
  display: inline-block;
  background-size: cover;
}

.icon.loading{
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' id='loading' viewBox='0 -2 59.75 60.25' width='100%25' height='100%25'%3E%3Cpath fill='%23ccc' d='M29.69-.527C14.044-.527 1.36 12.158 1.36 27.806S14.043 56.14 29.69 56.14c15.65 0 28.334-12.686 28.334-28.334S45.34-.527 29.69-.527zm.185 53.75c-14.037 0-25.417-11.38-25.417-25.417S15.838 2.39 29.875 2.39s25.417 11.38 25.417 25.417-11.38 25.416-25.417 25.416z'%3E%3C/path%3E%3Cpath fill='none' stroke='%23108ee9' stroke-width='3' stroke-linecap='round' stroke-miterlimit='10' d='M56.587 29.766c.37-7.438-1.658-14.7-6.393-19.552'%3E%3C/path%3E%3C/svg%3E");
  animation: cirle-anim 1s linear infinite;
}
.icon.success{
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' id='success' viewBox='0 0 72 72' width='100%25' height='100%25'%3E%3Cg fill='none' fill-rule='evenodd'%3E%3Cpath d='M36 72c19.882 0 36-16.118 36-36S55.882 0 36 0 0 16.118 0 36s16.118 36 36 36zm0-2c18.778 0 34-15.222 34-34S54.778 2 36 2 2 17.222 2 36s15.222 34 34 34z' fill='%23FFF'%3E%3C/path%3E%3Cpath stroke='%23FFF' stroke-width='2' d='M19 34.54l11.545 11.923L52.815 24'%3E%3C/path%3E%3C/g%3E%3C/svg%3E");
}
.icon.fail{
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' id='fail' viewBox='0 0 72 72' width='100%25' height='100%25'%3E%3Cg fill='none' fill-rule='evenodd'%3E%3Cpath d='M36 72c19.882 0 36-16.118 36-36S55.882 0 36 0 0 16.118 0 36s16.118 36 36 36zm0-2c18.778 0 34-15.222 34-34S54.778 2 36 2 2 17.222 2 36s15.222 34 34 34z' fill='%23FFF'%3E%3C/path%3E%3Cpath d='M22 22l28.304 28.304m-28.304 0L50.304 22' stroke='%23FFF' stroke-width='2'%3E%3C/path%3E%3C/g%3E%3C/svg%3E");
}
.icon.nonet{
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' id='dislike' viewBox='0 0 72 72' width='100%25' height='100%25'%3E%3Cg fill='none' fill-rule='evenodd'%3E%3Cpath d='M36 72c19.882 0 36-16.118 36-36S55.882 0 36 0 0 16.118 0 36s16.118 36 36 36zm0-2c18.778 0 34-15.222 34-34S54.778 2 36 2 2 17.222 2 36s15.222 34 34 34z' fill='%23FFF'%3E%3C/path%3E%3Cpath fill='%23FFF' d='M47 22h2v6h-2zm-24 0h2v6h-2z'%3E%3C/path%3E%3Cpath d='M21 51s4.6-7 15-7 15 7 15 7' stroke='%23FFF' stroke-width='2'%3E%3C/path%3E%3C/g%3E%3C/svg%3E");
}

.icon-close{
  background-image: url("data:image/svg+xml;charset=utf-8,<svg%20width%3D'16'%20height%3D'16'%20viewBox%3D'0%200%2016%2016'%20version%3D'1.1'%20xmlns%3D'http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg'><g%20id%3D'Page-1'%20stroke%3D'none'%20stroke-width%3D'1'%20fill%3D'none'%20fill-rule%3D'evenodd'><circle%20id%3D'Oval-98'%20fill-opacity%3D'0.4'%20fill%3D'%23404040'%20cx%3D'8'%20cy%3D'8'%20r%3D'8'><%2Fcircle><path%20d%3D'M11.8979743%2C11.8990375%20L11.8979743%2C11.8990375%20C11.7633757%2C12.0336542%2011.5447877%2C12.0336542%2011.4101891%2C11.8990375%20L8%2C8.48838931%20L4.5887341%2C11.8990375%20C4.45413554%2C12.0336542%204.23554748%2C12.0336542%204.10094892%2C11.8990375%20L4.10094892%2C11.8990375%20C3.96635036%2C11.7644208%203.96635036%2C11.5458033%204.10094892%2C11.4111866%20L7.51221482%2C8.00053847%20L4.10202571%2C4.58881335%20C3.96742715%2C4.45419667%203.96742715%2C4.23557919%204.10202571%2C4.10096251%20L4.10202571%2C4.10096251%20C4.23662427%2C3.96634583%204.45521233%2C3.96634583%204.58981089%2C4.10096251%20L8%2C7.51268762%20L11.4112659%2C4.10203944%20C11.5458645%2C3.96742276%2011.7644525%2C3.96742276%2011.8990511%2C4.10203944%20L11.8990511%2C4.10203944%20C12.0336496%2C4.23665612%2012.0336496%2C4.45527361%2011.8990511%2C4.58989029%20L8.48778518%2C8.00053847%20L11.8979743%2C11.4122636%20C12.0325729%2C11.5468803%2012.0325729%2C11.7644208%2011.8979743%2C11.8990375%20L11.8979743%2C11.8990375%20Z'%20id%3D'Shape'%20fill%3D'%23FFFFFF'%20transform%3D'translate(8.000000%2C%208.000000)%20scale(1%2C%20-1)%20translate(-8.000000%2C%20-8.000000)%20'><%2Fpath><%2Fg><%2Fsvg>");
}

/** flex布局 **/
.widow-flex{
  display: flex;
  justify-content: center;
  align-items: center;
}

.widow-flex .widow-flex-item{
  box-sizing: border-box;
  flex: 1;
  min-width: 10px;
}

.widow-flex-item:after{
  display: block;
  content: ' ';
  padding-bottom: 100%;
}

.line-1rpx{
  border-bottom: 1px solid rgba(0,0,0,0.1);
  transform: scaleY(0.33);
  display: block;
}
